.container {
  width: 50%;
  padding: 0.3em;
}

.container.grid {
  width: 50%;
}

.container.list {
  width: 100%;
}

.video {
  display: flex;
  align-items: center;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: #fff;
  transition: transform 0.1s ease-in;
  cursor: pointer;
}

.video:hover {
  transform: scale(1.02);
  background-color: rgb(240, 240, 240);
}

.thumbnail {
  width: 40%;
  height: 100%;
  border-radius: 5px;
}

.metadata {
  margin-left: 1em;
}

.title,
.channel {
  margin: 0;
  font-size: 0.8em;
}

.channel {
  font-size: 0.6rem;
}

/* @media */
@media screen and (max-width: 768px) {
  .container.grid {
    width: 100%;
  }
}
