.app {
  width: 100%;
}
.content {
  margin-top: 64px;
  background-color: #f7f7f7;
}
.content.no_home .content_inner {
  max-width: 1750px;
  margin: 62px auto 0;
}

.content_inner {
  display: flex;
}

.aside {
  position: fixed;
  height: 100%;
  background-color: #fff;
  z-index: 99;
}

.aside.extend {
  width: 240px;
  padding-right: 0.8em;
}

.aside.collapse {
  width: 72px;
}

.detail {
  flex: 1 1 70%;
  background-color: #f7f7f7;
  padding: 1em;
  padding-right: 0;
}

.list {
  flex: 1 1 30%;
  background-color: #f7f7f7;
  padding: 0.5rem;
}
.list.list_extend {
  margin-left: 240px;
}
.list.list_collapse {
  margin-left: 72px;
}

@media screen and (max-width: 768px) {
  .detail {
    padding: 1em;
  }
  .content_inner {
    flex-direction: column;
  }
}
