.app {
  width: 100%;
}

.content {
  display: flex;
  max-width: 1280px;
}

.detail {
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}
