.app {
  width: 100%;
}

.content {
  display: flex;
  margin-top: 64px;
}
.aside {
  position: fixed;
  height: 100%;
  background-color: #fff;
  z-index: 99;
}

.aside.extend {
  width: 240px;
  padding-right: 0.8em;
}

.aside.collapse {
  width: 72px;
}

.detail {
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
  background-color: #f7f7f7;
  padding: 1rem;
}
.list.list_extend {
  margin-left: 240px;
}
.list.list_collapse {
  margin-left: 72px;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}
